BASE_URL=https://contact-apps-api.ainunns.me
BEARER_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImMzNDE5NDA4LWRhMjQtNDMwZi04MDg0LTgxZWRmYTVlMDdkMSIsIm5hbWUiOiJOYXRoYW4gS2hvIFBhbmNyYXMiLCJlbWFpbCI6IjUwMjcyMzEwMDJAc3R1ZGVudC5pdHMuYWMuaWQiLCJpYXQiOjE3MjY4NTE2MTgsImV4cCI6MTcyOTQ0MzYxOH0.ODoQPyVHom6_Fb12E83XLNAberYPOqYXS_qUTs5Z1SU